<?xml version='1.0' encoding='utf-8'?>
<widget id="com.guitargenie.todolist" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Todo List</name>
    <description>
        A fully-featured todo list web application with local storage functionality. Never lose your tasks again!
    </description>
    <author email="willisrod838@gmail.com" href="https://github.com/willisrod838-cell">
        GuitarGenie Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="ScrollEnabled" value="true" />
    <preference name="android-targetSdkVersion" value="36" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="Orientation" value="portrait" />
</widget>